body {
	font-family: 'Arimo', Arial, sans-serif;
	font-weight: 400;
	font-size: 14px;
}

* {
	box-sizing: border-box;
}

#main {
	/* background: #e9e9e9; */
}

.card {
	border-radius: 10px;
}

.card img {
	border-radius: 10px 10px 0px 0px;
}

.checked {
	color: #d81a24;
}

/* .embed-responsive .card-img-top {
	object-fit: cover;
} */

.card-img-top {
	width: 100%;
	height: 60vh;
	/* object-fit: fill; */
}

.card-body {
	padding-bottom: 20px;
}

.about-picture {
	position: relative;
}

.picture-title {
	color: white;
	font-size: 34px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-shadow: 0px 0px 20px #6abcea, 0px 5px 20px #6abcea;
	opacity: 0.85;
	transition: all 0.4s;
}

.about-picture:hover .picture-title,
.about-picture:active .picture-title {
	/* background: rgba(0, 0, 0, 0.15); */
	font-size: 44px;
	text-shadow: 0px 0px 20px #6abcea, 0px 5px 30px #6abcea;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	opacity: 1;
}

.about-picture:hover,
.about-picture:active {
	/* filter: blur(2px);
	-webkit-filter: blur(2px); */
	background-color: rgba(259, 67, 95, 0.7);
}

.card:hover,
.card:active {
	-webkit-transform: scale(1.03);
	transform: scale(1.03);
	box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.08);
	transition: all 0.6s;
}

a:hover {
	text-decoration: none;
}

card-title:hover > a {
	color: #d81a24;
}

/* Media social */
.social-icons {
	margin-top: 50px;
	list-style: none;
	float: left;
}

.social-icons li {
	display: inline-block;
	font-size: 250%;
	margin-right: 30px;
	color: black;
}

.social-icons li:hover,
.social-icons li:active {
	color: #e67e22;
	transition: all 0.5s;
}

.social-icons li i {
	cursor: pointer;
}

ul.movie-info {
	margin: 25px 0;
	padding: 0;
	list-style: none;
}

/* imdb */
.fa-imdb {
	color: rgb(247, 247, 0);
	background-color: black;
}

.imdbscore {
	color: white;
	font-size: 40px;
	font-weight: 600;
	font-family: Arimo, sans-serif;
}

.avatar-cast {
	width: 300px;
	height: 300px;
	object-fit: fill;
}

blockquote {
	padding: 10px 20px;
	margin: 0 0 20px;
	border-left: 5px solid #6abcea;
}

.info-movie {
	border: 1px solid #eee;
	border-right-width: 0.25rem;
	border-radius: 0.25rem;
	border-right-color: #f0ad4e;
}
